doctype html
html(lang='en')
	head
		title='Cars list'
	body
		nav
			ul
				li
					a(href="/") Start
				li
					a(href="/list") Cars list
				li
					a(href="/add") Add a car
		main
			block content
		footer
			p Express + NodeJS + PUG demo
